.content-container {
    height: 3rem;
    font-family: FFDINforPuma, Inter, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    background-color: rgba(138,115,80,1);
    align-items:center;
    font-size:10px;
    padding:20px;

  }
  .navbar-container{
    background-color:black;
    color:white;
  }
  .navbar-brand{
    font-weight:10px;
  }
  .navbar-brand img{
    margin-left:5px;
    width:45px;
    height:35px;
  }
  .input-group {
  display: flex;
  justify-content:flex-end;
  padding:10px;
}
.form-inline.ml-3{
    margin-left:auto;
    padding-right:10px;

}

.input-group input {
  border-radius: 5px 0 0 8px;
  font-size:10px;
  height:2rem;
  padding-right:10px;
}


.discount-container {
    background-color: #f9f9f9;
    
    height:5rem;
}

.discount-message {
  margin-top: 5px;
  font-size: 12px;
  color: rgba(55,61,47,1);
  text-align:center;
}
.discount1-message {
  margin-top: 4px;
  font-size: 10px;
  color: rgba(89,99,76,5);
  text-align:center;
}
.form-inline.ml-2 .add-to-group {
  margin-left: auto;
  padding-right:15px;
  
}

.emoji{
  margin-left:auto;
  padding-right:120px;
  text-decoration:none;
}

.container-body{
  background-image: url("https://images.pexels.com/photos/2759785/pexels-photo-2759785.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
}

.login-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-content .form-control {
  margin-bottom: 15px;
}

.login-content .btn {
  width: 100%;
}


.login-content .btn-primary {
  background-color: #007BFF;
  border-color: #007BFF;
}
.container-body1{
  background-image: url("https://images.pexels.com/photos/2759785/pexels-photo-2759785.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-repeat: no-repeat;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
}

.register-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-content h3 {
  text-align: center;
  margin-bottom: 20px;
}

.register-content .form-control {
  margin-bottom: 15px;
}

.register-content .btn {
  width: 100%;
}


.register-content .btn-primary {
  background-color: #007BFF;
  border-color: #007BFF;
}
.back-container {
  background-image: url("https://c0.wallpaperflare.com/preview/877/230/517/singapore-sprint-sprinter-spikes.jpg");
  background-repeat:no-repeat;
  background-size:cover;

  height:35rem;
  

 
  padding: 30px; 
  color: black; 
}

.content-back-container {
  text-align: left;
  margin-bottom: 30px;
}

.content-back-container h3 {
  font-size: 24px;
  font-weight:20px;
  margin: 0;
}

.content-back-container pre {
  font-size: 16px;
  font-weight:13px;
  margin: 0;
}

.main-container {
  display: flex;
  
  flex-direction:column;
  align-items:flex-start;
  position:relative;
 
}

.main-container img {
  width: 100%; 
  height: auto;
  order:2;
  margin-top:10px;
  margin-left:0;
}

.main-content {
 
  padding: 20px;
  order:1;
  max-width:100%;
 
}

.main-content h2,h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.main-content p{
  font-size: 18px;
  margin-bottom: 5px;
}
@media (min-width:600px){
  .main-container{
    flex-direction:row;
    align-items:flex-start;
  }
  .main-container{
    width:50%;
    max-width:none;
  }
  .main-content{
    flex:1;
    max-width:100%;
  }
}

.main-content .buy-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius:10px;
}

.main-content .price {
  font-size: 16px;
  margin-top: 5px;
}


@media (max-width: 600px) {
  .main-content .buy-button,
  .main-content .price {
    width: 50%; 
    text-align: center; 
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top:10px;
}

.left-content {
  width: 50%;
  height: auto;
}

.right-content {
  flex: 1;
  padding: 20px;
  max-width: 100%;
}

.right-content h2,
.right-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.right-content pre {
  font-size: 18px;
  margin-bottom: 5px;
}

.right-content .buy-button {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.right-content .price {
  font-size: 16px;
  margin-top: 5px;
}


@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }

  .left-content {
    width: 100%;
  }

  .right-content .buy-button,
  .right-content .price {
    width: 50%;
    text-align: center;
  }
}
.main1-container {
  display: flex;
  
  flex-direction:column;
  align-items:flex-start;
  position:relative;
 
}

.main1-container img {
  width: 100%; 
  height: auto;
  order:2;
  margin-top:10px;
  margin-left:0;
}

.main1-content {
 
  padding: 20px;
  order:1;
  max-width:100%;
 
}

.main1-content h2,h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.main1-content p{
  font-size: 18px;
  margin-bottom: 5px;
}
@media (min-width:600px){
  .main1-container{
    flex-direction:row;
    align-items:flex-start;
  }
  .main1-container{
    width:50%;
    max-width:none;
  }
  .main1-content{
    flex:1;
    max-width:100%;
  }
}

.main1-content .buy-button1 {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius:10px;
}

.main1-content .price2 {
  font-size: 16px;
  margin-top: 5px;
}


@media (max-width: 600px) {
  .main1-content .buy-button,
  .main1-content .price2 {
    width: 50%; 
    text-align: center; 
  }
}
.flex-container1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top:10px;
}

.left-content1 {
  width: 50%;
  height: auto;
}

.right-content1 {
  flex: 1;
  padding: 20px;
  max-width: 100%;
}

.right-content1 h2,
.right-content1 h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.right-content1 pre {
  font-size: 18px;
  margin-bottom: 5px;
}

.right-content1 .buy-button2 {
  margin-top: 10px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.right-content1 .price3 {
  font-size: 16px;
  margin-top: 5px;
}


@media (max-width: 600px) {
  .flex-container1 {
    flex-direction: column;
  }

  .left-content1 {
    width: 100%;
  }

  .right-content1 .buy-button2,
  .right-content1 .price3 {
    width: 50%;
    text-align: center;
  }
}

.reviews-container {
  display: flex;
  justify-content:center;
  overflow: hidden;
  max-width:100%; 
  background-image:url("https://images.pexels.com/photos/2759785/pexels-photo-2759785.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.review-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 90%;
  margin:50px;
}

.review-slide img {
  max-width:70%;
  height:auto;
 
  
}

.review-slide p {
  margin-top: 10px;
  text-align: center;
}


.review-slide.active {
  display: flex;
}

.review-button{
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}

.control-button {
  margin: 0 10px; 
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image:url("https://tse4.mm.bing.net/th?id=OIP.i18UeqyIbS-WoBetcV4WvgHaE8&pid=Api&P=0&h=180");
 
}

.centered-container {
  text-align: center;
}

.features-container {
  padding: 20px;
  background-color: #ffffff; 
  width: 300px; 
  border-radius: 10px; 
  margin:10px;
}

.features-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.features-container ul {
  list-style-type: disc;
  padding-left: 20px;
}

.features-container ul li {
  font-size: 18px;
  margin-bottom: 5px;
}


.caller-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url("https://rukminim2.flixcart.com/image/612/612/xif0q/backpack/n/5/0/-original-imagrdfbgwmayrsp.jpeg?q=70");
}

.call-content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 300px; 
}

.call-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.call-content h3 {
  text-align: center;
  margin-bottom: 20px;
}

.call-content .form-control {
  margin-bottom: 15px;
}

.call-content .btn {
  width: 50%;
}


.call-content .btn-primary {
  background-color: #007BFF;
  border-color: #007BFF;

}
.call-container{
  background-image: url("https://images.pexels.com/photos/2759785/pexels-photo-2759785.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
  background-repeat: no-repeat;
}
